body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calculator{
  margin-left: 500px;
  
}

table{
  border-radius: 10px;
 
}

#tr1{
  height: 40px;
  background-color: aquamarine;
  border-radius: 10px;
}
#tbl{
  background-color: gray;
}

tr{
  height: 35px;
}

.td1{
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
}



.td1:hover{
  background-color: black;
  color: white;
}
 
.buttons{
  width: 100%;
  height: 120%;
  background-color: gray;
  border-color: white;
  border-radius: 20%;
}

table{
  
  width: 30%;
}

.td1{
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
